*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}

body{
  height: 100vh; 
  background-color: rgb(147, 229, 158);
}

header{
    height: 10%;
}

main{
    height: 80%;
}

footer{
    height: 10%;
}

#griglia{
    width: 40%;
    margin: auto;
    height: 100%;
}

.quadratobase{
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrati{
    width: calc(100% / 10);  
}

.quadrati2{
    width: calc(100% / 9);
}

.quadrati3{
    width: calc(100% / 7);
}

.active{
    background-color: rgb(38, 38, 114);
    color: white;
}

